{% load i18n %}

{% block title %}{% trans 'Inbox' %}{% endblock %}

{% block page_header %}

{% trans 'Inbox' %}{% endblock %}

{% block container %}
  <div class="converse">
    {% if messages %}
      {% for message in messages %}
        {% include 'messenger/includes/partial_message.html' with message=message %}
      {% endfor %}
    {% else %}
      <h4>{% trans 'This is the begining of a great new conversation.' %}</h4>
      <p>{% trans "Let's get started now!" %}</p>
    {% endif %}
   
  </div>
   <li class="send-message"></li>
<!--     <script type="text/javascript">window.onload = $('.converse').scrollTop($('.converse')[0].scrollHeight);</script>
 -->  <div class="chat-box">
    <img src="{{ user.profile.get_picture }}" class="picture">
    <form role="form" class="btnsend" id="{{ active }}">
      {% csrf_token %}
      <input type="hidden" name="to" value="{{ active }}">
      <input class="form-control" type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
    </form>
  </div>
  <script>
    // $(document).ready(function(){
        
    //             $("input[name='message']").focus();
    //             $('.msg_wrap').scrollTop($('.msg_wrap')[0].scrollHeight);

    // });
</script>
{% endblock container %}
